/* Permet de faire tenir les padding & border dans les largeurs des boites */
*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

body {
    margin: 0;
    background-image: url(../img/bg_pattern.png);
    padding-top: 80px;
    

}

body> :not(footer) {
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-size: 18px;
}



.logo {
    width: 200px;
    margin: 0 auto;
}

nav {

    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    top: 0;
    left: 0;
    height: 80px;
    z-index: 3;
}


/* image du menu burger */
.menu-burger {

    width: 25px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.burger {
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 2px;
}

.nav-lien a {
    display: none;
}

.grid-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.cards {
    position: relative;
    text-align: center;
    color: white;

}

.texte-centre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


/* .cards:nth-child(9) img {

    display: block;
    object-fit: cover;
    width: 100vw;
    height: 100vh;


}

.cards:nth-child(10) img {

    display: block;
    object-fit: cover;
    width: 100vw;
    height: 100vh;


}

.cards:nth-child(11) img {
    display: block;
    object-fit: cover;
    width: 100vw;
    height: 100vh;

} */


/* lookbook */

.lookbook {

    object-fit: cover;
    position: relative;
    text-align: center;
    color: white;
    align-items: center;
    justify-content: center;

}


.collection {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;

}

.button {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 40px;
    background-color: transparent;
    color: white;
    border-color: white;
    z-index: 3;
}

.lookbook::before {
    display: block;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
}

/* footer */

footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 0 2rem;
    font-family: "Open Sans", sans-serif;
}

.logofooter {
    display: flex;
    padding: 20px 0;
    gap: 10px;

}

img.logo-svg {

    width: 25px;
    height: 25px;
}

img.logo-svg:hover {
    color: brown;
}


.blockfooter {
    display: flex;
    flex-direction: column;

}

.blockfooter h3,
.faq {
    text-transform: uppercase;
}


.inputemail {
    padding: 20px 0;
}

.buttonOk {
    padding: 20px 20px;
}

/* French Heroes Page 2 */

.heroes {
    padding-top: 30px;
    text-align: center;
    text-transform: uppercase;
}

.cards-sacs {
    text-align: center;

}

.texte-centre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.grid-sacs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

}

.basket {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;

}

.barrenoir {
    width: 25px;
    height: 2px;
    background-color: black;
    border-radius: 2px;
    margin: 20px 20px;
}

@media (min-width: 770px) {
    .grid-cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

    }

    .grid-sacs {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

    }

}

@media (min-width: 1024px) {

    .nav-lien a {

        display: inline-block;
        position: relative;
        text-decoration: none;
        padding: 4px 15px;
        color: white;


    }

    .menu-burger {
        display: none;
    }

    .nav {
        padding-top: 0;

    }

    .logo {
        color: white;
    }

    .grid-cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

    }

    .grid-sacs {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

    }
}